import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [11]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object





Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In a pandas.DataFrame, both loc and iloc are used for accessing data, but they have different behaviors:
    loc (Label-based Indexing):
                                loc is primarily used for label-based indexing. It allows you to access rows and columns using row labels and column names.
Syntax: df.loc[row_label, column_label]
Example:

In [12]:
# Access the value in the second row and 'duration' column
value = df.loc[1, 'duration']
print(f"Value at row 1, column 'duration': {value}")

Value at row 1, column 'duration': 3

iloc (Integer-based Indexing):
iloc is used for integer-based indexing. It allows you to access rows and columns using integer positions (i.e., row indices and column indices).
Syntax: df.iloc[row_index, column_index]
Example:

In [13]:
# Access the value in the second row and second column (index 1)
value = df.iloc[1, 1]
print(f"Value at row 1, column 1: {value}")

Value at row 1, column 1: 3

In summary:

Use loc when you want to access data based on labels (row labels and column names).
Use iloc when you want to access data based on integer positions (row indices and column indices).

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [14]:
import pandas as pd

# Given DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindex using the provided order
reindex_order = [3, 0, 1, 2]
new_df = df.reindex(reindex_order)

In [15]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [16]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Use loc when you want to access data based on labels (row labels and column names).
Use iloc when you want to access data based on integer positions (row indices and column indices).

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.291147  0.271749  0.374944  0.003256  0.931097  0.752391
2  0.929959  0.916385  0.039642  0.667904  0.446759  0.968200
3  0.994414  0.630645  0.676144  0.786306  0.162961  0.809099
4  0.612586  0.421413  0.963786  0.316730  0.751210  0.916968
5  0.296565  0.414373  0.465903  0.729962  0.703346  0.989315
6  0.166965  0.559162  0.463230  0.443964  0.504486  0.297214

In [11]:
# (i) Mean of each column
column_means = df1.mean()

In [12]:
column_means

column_1    0.548606
column_2    0.535621
column_3    0.497275
column_4    0.491354
column_5    0.583310
column_6    0.788864
dtype: float64

In [13]:
# (ii) Standard deviation of 'column_2'
column_2_std = df1['column_2'].std()

In [14]:
column_2_std

0.22447187122801202

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [15]:
import pandas as pd
# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = "Hello, ABHi!"

# Calculate the mean of 'column_2'
column_2_mean = df1['column_2'].mean()

print(f"Mean of 'column_2': {column_2_mean:.4f}")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Explanation: When you replace the numerical data in ‘column_2’ with a string, it will cause an error when calculating the mean. This is because the mean operation cannot be performed on non-numeric data. In this case, the string “Hello, ABHi!” is not a valid value for calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, window functions allow you to perform operations over a sliding partition of data. These partitions can be based on a fixed or variable window size. Let’s explore the different types of window functions:

Rolling Window:
A rolling window is a generic sliding window that moves over the data.
It computes an aggregation (such as sum, mean, etc.) for each window.
Example: s.rolling(window=2).sum() calculates the rolling sum of a Series s with a window size of 21.
Weighted Window:
Weighted windows are non-rectangular windows.
They are supplied by the scipy.signal library.
Example: Weighted moving average using a custom weight function.
Expanding Window:
An expanding window accumulates values as it moves forward.
It includes all previous data points up to the current observation.
Example: df.groupby('A').expanding().sum() computes the cumulative sum for each group in a DataFrame df1.
Exponentially Weighted Window (EWMA):
EWMA is an accumulating and exponentially weighted window.
It assigns more weight to recent data points.
Example: Exponential moving average using s.ewm().
Keep in mind that windowing operations in pandas currently support numeric data only (integer and float) and always return float64 values. Some aggregation methods may suffer from numerical imprecision due to underlying algorithms, especially when dealing with large values1.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [1]:
import pandas as pd

# Get the current date and time
current_datetime = pd.Timestamp.now()

# Extract the month and year
current_month = current_datetime.month
current_year = current_datetime.year

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: 3
Current year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [3]:
import pandas as pd

def get_date_input(prompt):
    while True:
        try:
            date_str = input(prompt)
            date_obj = pd.to_datetime(date_str, format='%Y-%m-%d')
            return date_obj
        except ValueError:
            print("Invalid date format. Please enter a valid date in YYYY-MM-DD format.")

# Get input from the user
print("Enter the first date (YYYY-MM-DD):")
date1 = get_date_input("Date 1: ")

print("\nEnter the second date (YYYY-MM-DD):")
date2 = get_date_input("Date 2: ")

# Calculate the time difference
time_diff = date2 - date1

# Extract days, hours, and minutes
days = time_diff.days
hours, remainder = divmod(time_diff.seconds, 3600)
minutes = remainder // 60

# Display the result
print(f"\nTime difference between {date1} and {date2}:")
print(f"{days} days, {hours} hours, and {minutes} minutes")

Enter the first date (YYYY-MM-DD):

Date 1:  2024-03-27

Enter the second date (YYYY-MM-DD):

Date 2:  2001-04-25

Time difference between 2024-03-27 00:00:00 and 2001-04-25 00:00:00:
-8372 days, 0 hours, and 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def read_csv_and_convert_to_categorical(file_path, column_name, category_order):
    try:
        # Read the CSV file
        df = pd.read_csv(file_path)

        # Convert the specified column to categorical
        df[column_name] = df[column_name].astype('category', categories=category_order, ordered=True)

        # Sort the DataFrame by the specified column
        sorted_df = df.sort_values(by=column_name)

        # Display the sorted data
        print(sorted_df)

    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except KeyError:
        print(f"Column '{column_name}' not found in the CSV file.")

if __name__ == "__main__":
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order (comma-separated values): ").split(',')

    read_csv_and_convert_to_categorical(file_path, column_name, category_order)

Enter the CSV file path:  gfg

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

def read_sales_data(file_path):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        return df
    except FileNotFoundError:
        print(f"File not found: {file_path}")
        return None

def plot_stacked_bar_chart(df):
    # Assuming columns 'Category' and 'Time' in the DataFrame
    # Modify column names accordingly based on your CSV structure
    category_col = 'Category'
    time_col = 'Time'

    # Pivot the data to create a stacked bar chart
    pivot_df = df.pivot(index=time_col, columns=category_col, values='Sales')

    # Create the stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.xlabel(time_col)
    plt.ylabel('Sales')
    plt.title('Sales by Product Category over Time')
    plt.legend(title=category_col)

    # Show the chart
    plt.show()

if __name__ == "__main__":
    file_path = input("Enter the CSV file path: ")
    sales_df = read_sales_data(file_path)
    if sales_df is not None:
        plot_stacked_bar_chart(sales_df)

Enter the CSV file path:  dd

File not found: dd

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [6]:
import pandas as pd

def read_student_data(student_data):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(student_data.csv)
        return df
    except FileNotFoundError:
        print(f"File not found: {student_data.csv}")
        return None

def calculate_statistics(df):
    # Calculate mean, median, and mode
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_scores = df['Test Score'].mode()

    return mean_score, median_score, mode_scores

def display_results(mean, median, mode):
    # Create a table to display the results
    result_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean, median, ', '.join(map(str, mode))]
    })

    print(result_table)

if __name__ == "__main__":
    file_path = input("Enter the file path of the CSV file containing student data: ")
    student_df = read_student_data(student_data.csv)

    if student_df is not None:
        mean_score, median_score, mode_scores = calculate_statistics(student_df)
        display_results(mean_score, median_score, mode_scores)

NameError: name 'student_data' is not defined