Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create the Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [4, 8, 15, 16, 23, 42, 7, 11, 9, 5]

# Create a Pandas Series from the list
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
6     7
7    11
8     9
9     5
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    
Name     age        gender
Alice     25        Female
Bob       30        Male
Claire    27        Female


Then, print the DataFrame.

In [3]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'age': [25, 30, 27],
    'gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female




Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas Series:
A Pandas Series is a one-dimensional array-like object that can hold data of any type (integer, float, string, etc.).
Each element in a Series has a unique identifier called an index.
Think of a Series as a single column in a spreadsheet or a database table.
It’s a fundamental data structure in Pandas, commonly used for data manipulation and analysis tasks.
You can create a Series from lists, arrays, dictionaries, or existing Series objects.
Example:

In [4]:
import pandas as pd

# Creating a Series from a list
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Pandas DataFrame:
A Pandas DataFrame is a two-dimensional table-like structure consisting of multiple Series objects.
It’s essentially a collection of Series, where each Series represents a column.
DataFrames are used for more complex data manipulation, exploration, and analysis.
You can think of a DataFrame as a spreadsheet or a database table with rows and columns.
Example:

In [5]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Differences:
A Series is one-dimensional, while a DataFrame is two-dimensional.
A Series represents a single column, whereas a DataFrame contains multiple columns.
Series are more straightforward and efficient for actions involving one column of data, while DataFrames are more versatile for handling tabular data.




Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

read_csv(): This function allows you to load data from a CSV file into a DataFrame. It’s handy when you need to work with tabular data stored in a CSV format1. Example:

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")

AI-generated code. Review and use carefully. More info on FAQ.
fillna(): When dealing with missing values (NaN), you can use fillna() to replace those missing values with specific values or methods (e.g., mean, median, etc.)1. Example:

In [ ]:
df.fillna(0)  # Replace NaN with zeros

mean() and std(): These functions calculate the mean and standard deviation of a Series or DataFrame, respectively. Useful for understanding data distribution and variability1. Example:

In [ ]:
average_score = df["Score"].mean()
std_deviation = df["Score"].std()

sort_values(): Sorts the DataFrame based on one or more columns. You might use this to arrange data in ascending or descending order1. Example:

In [ ]:
sorted_df = df.sort_values(by="Score", ascending=False)

drop(): Removes rows or columns from a DataFrame. Useful when you want to eliminate specific data points or features2. Example:

In [ ]:
df.drop(columns=["Column1", "Column2"], inplace=True)  # Remove specific columns

rename(): Renames columns or indices in the DataFrame. Helpful for making column names more descriptive or consistent2. Example:
Python

In [ ]:
df.rename(columns={"OldName": "NewName"}, inplace=True)

Creating a New Column: You can add a new column to an existing DataFrame by simply declaring a new list as a column3. Example:

In [ ]:
df["NewColumn"] = [1, 2, 3, 4, 5]  # Adding a new column with values




Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A DataFrame is mutable in nature. You can modify its contents by adding or removing rows and columns, changing cell values, and performing various data manipulation operations. A DataFrame is like a two-dimensional table, allowing flexibility in data modification.

On the other hand, a Series (which represents a single column) is also mutable, but it’s more limited in scope. You can change individual values within a Series, but you cannot add or remove columns directly.

As for the Panel, it was deprecated in recent versions of Pandas and is no longer recommended for use. Instead, multi-dimensional data is typically handled using DataFrames or other specialized data structures.

Remember, when working with mutable objects, be cautious about unintended side effects!

Q7. Create a DataFrame using multiple Series. Explain with an example.

 Pandas DataFrame using multiple Series. A DataFrame is a two-dimensional table-like structure that can hold data in rows and columns. We’ll use the pd.concat() method to combine several Series into a DataFrame.

Consider the following example:

First, we’ll create three Pandas Series:
courses: A Series containing course names.
fees: A Series containing corresponding course fees.
discount: A Series with discount amounts for each course.

In [7]:
import pandas as pd

# Create Pandas Series
courses = pd.Series(["Spark", "PySpark", "Hadoop"])
fees = pd.Series([22000, 25000, 23000])
discount = pd.Series([1000, 2300, 1000])

Next, we’ll concatenate these Series into a DataFrame using pd.concat():

In [8]:
# Combine the Series into a DataFrame
df = pd.concat([courses, fees, discount], axis=1)

# Print the resulting DataFrame
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In this DataFrame:

Column 0 corresponds to the course names.
Column 1 contains the course fees.
Column 2 represents the discount amounts.