Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
                                             # String

In [18]:
S = 'abhi'

In [19]:
type(S)

str

In [20]:
print(S)

abhi

In [21]:
S[0]

'a'

In [ ]:
                                               # list

In [10]:
L = ["abc", 34, True, 40, "male"]

In [11]:
type(L)

list

In [12]:
L

['abc', 34, True, 40, 'male']

In [14]:

L[0]

'abc'

In [22]:
L[-1]

'male'

In [ ]:
                                           # float

In [23]:
f = 1.00

In [24]:
type(f)

float

In [25]:
                                           # tupple

In [26]:
tup = ("hello", "aana", "cry")

In [27]:
tup

('hello', 'aana', 'cry')

In [29]:
tup[0]

'hello'

In [30]:
type(tup)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [ ]:
                                           #ans-1

In [32]:
var1 = ' '

In [33]:
type(var1)

str

In [34]:
                                           #ans-2

In [39]:
var2 = '[ DS , ML , Python]'

In [40]:
type(var2)

str

In [41]:
                                            #ans-3

In [43]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [44]:
type(var3)

list

In [45]:
                                             #ans-4

In [46]:
var4 = 1.

In [47]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [50]:
#  ans-1.            / (Division) – Divide two operands and gives the quotient as the answer.

In [48]:
9/2

4.5

In [51]:
#  ans_2.     % (Modulus operation) – Find the remains of two integers

In [52]:
9%2

1

In [ ]:
#  ans_3.      // it gives floor of Quotient

In [54]:
13//2

6

In [55]:
#  ans_4.         ** (exponent operation)

In [57]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [61]:
l = ["abc", 34, True, 40, "male","xyz", 76, False, 10, "my"]

In [63]:
for i in l :
    print(i)

abc
34
True
40
male
xyz
76
False
10
my

In [64]:
for i in l :
    print(type(i))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [78]:
x=int (input ())

 8

In [88]:
y=int (input ())

 3

In [89]:
while x%y == 0 :
    print('x is divisible by y','and x is divisible by y for',x/y,'times')
    break
else :
    print('x is not divisible by y')

x is not divisible by y

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [91]:
L=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [92]:
L

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [99]:
for i in L :
    if i%3==0 :
        print('is divisible by 3',i)
    else :
            print('not divisible by 3',i)

not divisible by 3 1
not divisible by 3 2
is divisible by 3 3
not divisible by 3 4
not divisible by 3 5
is divisible by 3 6
not divisible by 3 7
not divisible by 3 8
is divisible by 3 9
not divisible by 3 10
not divisible by 3 11
is divisible by 3 12
not divisible by 3 13
not divisible by 3 14
is divisible by 3 15
not divisible by 3 16
not divisible by 3 17
is divisible by 3 18
not divisible by 3 19
not divisible by 3 20
is divisible by 3 21
not divisible by 3 22
not divisible by 3 23
is divisible by 3 24
not divisible by 3 25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [100]:
#Mutable data types in python are those which can be changed, once created but immutable objects are those which cannot be changed, once they are instantiated. Example of mutable data types are list. whereas examples of Immutable datatypes or objects are string.

In [102]:
Li=[456,'yusdftyf','gfsdyhg',56754]                #List is mutable

In [103]:
Li

[456, 'yusdftyf', 'gfsdyhg', 56754]

In [104]:
Li[0]

456

In [105]:
Li[0]=57

In [106]:
Li

[57, 'yusdftyf', 'gfsdyhg', 56754]

In [110]:
STR = 'feryi'                        #String is immutable

In [108]:
STR[0]

'f'

In [109]:
STR[0] = 'h'

TypeError: 'str' object does not support item assignment