Q1. List any five functions of the pandas library with execution.

1. read_csv(): This function is used to retrieve data from CSV files and create a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")

2. fillna(): Replace missing values (NaN) in a DataFrame with specific values or methods.

In [ ]:
df.fillna(0)  # Replace NaN with zeros

3. mean() and std(): Calculate the mean and standard deviation of a Series or DataFrame.

In [ ]:
average_score = df["Score"].mean()
std_deviation = df["Score"].std()

4. sort_values(): Sort the DataFrame based on one or more columns.

In [ ]:
sorted_df = df.sort_values(by="Score", ascending=False)

5. unique() and nunique(): Get unique values and count of unique values in a column.

In [ ]:
unique_values = df["Category"].unique()
num_unique = df["Category"].nunique()




Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [40]:
import pandas as pd
data = {'A': [10, 20, 30], 'B': [100, 200, 300], 'C': [1000, 2000, 3000]}
df = pd.DataFrame(data)

In [39]:
df

        Date
0 2023-01-01
1 2023-01-15
2 2023-02-10
3 2023-01-25

In [41]:
# Change index values '1' to 'January' and '4' to 'April'
df.rename(index={0: '1', 1:'3', 2:'5'}, inplace=True)
print(df)

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [43]:
import pandas as pd

def calculate_sum_of_first_three(df):
  
        # Extract the 'Values' column
        values_column = df['Values']

        # Calculate the sum of the first three values
        sum_of_first_three = values_column.iloc[:3].sum()

        # Print the result
        print(f"Sum of the first three values: {sum_of_first_three}")

In [44]:
# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
calculate_sum_of_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [45]:
import pandas as pd

def add_word_count_column(df):
   
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example usage:
data = {'Text': ["This is a sample sentence.", "Another example with more words."]}
df = pd.DataFrame(data)
result_df = add_word_count_column(df)
print(result_df)

                               Text  Word_Count
0        This is a sample sentence.           5
1  Another example with more words.           5






Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size():
The size() method returns the total number of elements in the DataFrame.
For a Series, it returns the number of elements (rows).
For a DataFrame, it returns the product of the number of rows and the number of columns.
Example:

In [46]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [10, 20, 30], 'B': [100, 200, 300]}
df = pd.DataFrame(data)

# Get the total number of elements (size)
total_elements = df.size
print(f"Total elements in the DataFrame: {total_elements}")

Total elements in the DataFrame: 6

DataFrame.shape():
The shape() method returns a tuple representing the dimensionality of the DataFrame.
It provides the number of rows and columns in the DataFrame.
The result is in the format (rows, columns).
Example:

In [47]:
# Get the shape (number of rows and columns)
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}, Number of columns: {num_columns}")

Number of rows: 3, Number of columns: 2

In summary:

size() gives the total number of elements (rows × columns).
shape() provides the dimensions (rows, columns) of the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Read an Excel file into a Pandas DataFrame
file_path = '/path/to/your/excel/file.xlsx'
df = pd.read_excel(file_path)

# Now you can work with the DataFrame 'df'
print(df.head())



Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

 Python function that extracts the username from each email address in the ‘Email’ column of the given DataFrame and creates a new ‘Username’ column:

In [49]:
import pandas as pd

def extract_username(df):
   
    # Extract the username part before the '@' symbol
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage:
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com']}
df = pd.DataFrame(data)
result_df = extract_username(df)
print(result_df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith




Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:            

  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2


The function should return a new DataFrame that contains only the selected rows.

Python function that selects rows from the given DataFrame df where the value in column ‘A’ is greater than 5 and the value in column ‘B’ is less than 10. It returns a new DataFrame containing only the selected rows:

In [50]:
import pandas as pd

def select_rows(df):
    

    
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

# Example usage:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Select rows based on conditions
selected_rows_df = select_rows(df)
print(selected_rows_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [51]:
import pandas as pd
def mean_median_std(df):
    
    s1 = print(f"mean : {df['Values'].mean()} ")
    s2 = print(f"median : {df['Values'].median()}")
    s3 = print(f"std : {df['Values'].std()}")
   
    return  (s1,
    s2,s3)


data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
s =  mean_median_std(df)
print(s)

mean : 30.0
median : 30.0
std : 15.811388300841896
(None, None, None)

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [52]:
import pandas as pd

def calculate_moving_average(df):
   
    try:
        # Convert the 'Date' column to datetime if it's not already
        df['Date'] = pd.to_datetime(df['Date'])

        # Set the 'Date' column as the index
        df.set_index('Date', inplace=True)

        # Calculate the moving average with a window of size 7
        df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

        return df
    except KeyError:
        print("Error: 'Sales' or 'Date' column not found in the DataFrame.")
        return None

# Example usage:
data = {'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04'],
        'Sales': [10, 15, 20, 25]}
df = pd.DataFrame(data)

# Calculate the moving average
result_df = calculate_moving_average(df)
print(result_df)

            Sales  MovingAverage
Date
2024-01-01     10           10.0
2024-01-02     15           12.5
2024-01-03     20           15.0
2024-01-04     25           17.5

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
    Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

Your function should create the following DataFrame:
    
    Date     Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [53]:
import pandas as pd

def add_weekday_column(df):
   
    try:
        # Convert the 'Date' column to datetime if it's not already
        df['Date'] = pd.to_datetime(df['Date'])

        # Add the 'Weekday' column
        df['Weekday'] = df['Date'].dt.strftime('%A')  # Get the full weekday name

        return df
    except KeyError:
        print("Error: 'Date' column not found in the DataFrame.")
        return None

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Add the 'Weekday' column
result_df = add_weekday_column(df)
print(result_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [38]:
import pandas as pd

def select_rows_between_dates(df):
    
    try:
        # Convert the 'Date' column to datetime if it's not already
        df['Date'] = pd.to_datetime(df['Date'])

        # Create a boolean mask for the date range
        mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')

        # Select the rows within the date range
        selected_df = df.loc[mask]

        return selected_df
    except KeyError:
        print("Error: 'Date' column not found in the DataFrame.")
        return None

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-10', '2023-01-25']}
df = pd.DataFrame(data)

# Select rows between '2023-01-01' and '2023-01-31'
result_df = select_rows_between_dates(df)
print(result_df)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-25

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

To utilize Pandas functions, begin by importing the Pandas library using the standard convention: import pandas as pd. Once imported, you can access functions through the pd namespace, invoking them on data structures like DataFrames and Series